.dx-designer-viewport {
  /* Borders -------------------------*/
  /* Icons -------------------------*/
  /* Text -------------------------*/
  /* Background -------------------------*/
  /* Customization -------------------------*/
  /* AceEditor -------------------------*/
  /* DevExtreme -------------------------*/
}
.dx-designer-viewport .dxd-border-primary {
  border-color: #E6E6E6;
}
.dx-designer-viewport .dxd-border-secondary {
  border-color: #DDDDDD;
}
.dx-designer-viewport .dxd-border-accented {
  border-color: #337AB7;
}
.dx-designer-viewport .dxd-back-contrast .dxd-border-primary {
  border-color: #AAAAAA;
}
.dx-designer-viewport .dx-accessibility-border-accented {
  outline-color: #337AB7;
}
.dx-designer-viewport .dx-accessibility-focus-border-accented,
.dx-designer-viewport .dx-accessibility-focus-border-accented:focus {
  outline-color: #337AB7;
}
.dx-designer-viewport .dxd-icon-accented .dxd-icon-fill {
  fill: #337AB7;
}
.dx-designer-viewport .dxd-icon-fill {
  fill: #606060;
}
.dx-designer-viewport .dxd-back-contrast .dxd-icon-fill {
  fill: #AAAAAA;
}
.dx-designer-viewport .dxd-state-active .dxd-icon-fill,
.dx-designer-viewport .dxd-back-contrast .dxd-back-highlighted:hover .dxd-icon-fill,
.dx-designer-viewport .dx-menu-item.dx-state-focused .dxd-icon-fill {
  fill: #FFFFFF;
}
.dx-designer-viewport .dxd-text-primary {
  color: #333333;
}
.dx-designer-viewport .dxd-text-info {
  color: #525252;
}
.dx-designer-viewport .dxd-text-accented {
  color: #337AB7;
}
.dx-designer-viewport .dxd-state-active .dxd-text-primary,
.dx-designer-viewport .dxd-back-contrast .dxd-text-primary {
  color: #FFFFFF;
}
.dx-designer-viewport .dxd-back-primary {
  background-color: #F5F5F5;
}
.dx-designer-viewport .dxd-back-primary2 {
  background-color: #FFFFFF;
}
.dx-designer-viewport .dxd-back-secondary {
  background-color: #E6E6E6;
}
.dx-designer-viewport .dxd-back-highlighted.dxd-state-normal:hover:not(.dxd-state-no-hover) {
  background-color: #DDDDDD;
}
.dx-designer-viewport .dxd-back-highlighted:hover:not(.dxd-state-no-hover) {
  background-color: #F5F5F5;
}
.dx-designer-viewport .dxd-back-highlighted.dxd-state-selected,
.dx-designer-viewport .dxd-back-highlighted.dxd-state-selected:hover {
  background-color: #DDDDDD;
}
.dx-designer-viewport .dxd-back-highlighted.dxd-state-active {
  background-color: #AAAAAA;
}
.dx-designer-viewport .dxd-back-highlighted.dxd-state-active:hover:not(.dxd-state-no-hover) {
  background-color: #606060;
}
.dx-designer-viewport .dxd-back-contrast {
  background-color: #606060;
}
.dx-designer-viewport .dxd-back-contrast .dxd-back-highlighted.dxd-state-active,
.dx-designer-viewport .dxd-back-contrast .dxd-back-highlighted.dxd-state-active:hover,
.dx-designer-viewport .dxd-back-contrast .dxd-back-highlighted:hover {
  background-color: #525252;
}
.dx-designer-viewport .dxd-back-accented {
  background-color: #337AB7;
}
.dx-designer-viewport .dxd-scrollbar-color {
  scrollbar-face-color: #E6E6E6;
  scrollbar-track-color: #AAAAAA;
  scrollbar-arrow-color: #606060;
  -ms-scrollbar-face-color: #E6E6E6;
  -ms-scrollbar-track-color: #AAAAAA;
  -ms-scrollbar-arrow-color: #606060;
}
.dx-designer-viewport .dxd-scrollbar-color ::-webkit-scrollbar-corner {
  background-color: #E6E6E6;
}
.dx-designer-viewport .dxd-scrollbar-color ::-webkit-scrollbar {
  background-color: #E6E6E6;
}
.dx-designer-viewport .dxd-scrollbar-color ::-webkit-scrollbar-thumb {
  background-color: #AAAAAA;
}
.dx-designer-viewport .dxrd-scripts-editor.ace_editor,
.dx-designer-viewport .dx-sql_editor.ace_editor,
.dx-designer-viewport .dx-expressioneditor-textarea.ace_editor,
.dx-designer-viewport .dx-filtereditor-ace.ace_editor {
  background-color: #FFFFFF;
}
.dx-designer-viewport .dxrd-scripts-editor.ace_editor .ace_gutter,
.dx-designer-viewport .dx-sql_editor.ace_editor .ace_gutter,
.dx-designer-viewport .dx-expressioneditor-textarea.ace_editor .ace_gutter,
.dx-designer-viewport .dx-filtereditor-ace.ace_editor .ace_gutter {
  background-color: #F5F5F5;
  color: #333333;
  border-color: #E6E6E6;
}
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab {
  background-color: #FFFFFF;
  border-color: #AAAAAA;
  color: #333333;
}
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab:hover {
  background-color: #F5F5F5;
}
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-icon {
  color: #525252;
}
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected {
  color: #FFFFFF;
}
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected,
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected:hover {
  background-color: #AAAAAA;
}
.dx-designer-viewport .dxrd-navigation-panel-wrapper .dx-tab.dx-tab-selected .dx-icon {
  color: #FFFFFF;
}
/* FilterEditor -------------------------*/
.dx-filtereditor .dxd-filter-editor-group-back-color {
  background-color: rgba(217, 83, 79, 0.3);
}
.dx-filtereditor .dxd-filter-editor-group-back-color:hover:not(.dxd-state-no-hover) {
  background-color: rgba(217, 83, 79, 0.5);
}
.dx-filtereditor .dxd-filter-editor-group-back-color.dxd-state-selected {
  background-color: #d9534f;
}
.dx-filtereditor .dxd-filter-editor-field-back-color {
  background-color: rgba(51, 122, 183, 0.3);
}
.dx-filtereditor .dxd-filter-editor-field-back-color:hover:not(.dxd-state-no-hover) {
  background-color: rgba(51, 122, 183, 0.5);
}
.dx-filtereditor .dxd-filter-editor-field-back-color.dxd-state-selected {
  background-color: #337ab7;
}
.dx-filtereditor .dxd-filter-editor-parameter-back-color {
  background-color: rgba(240, 173, 78, 0.3);
}
.dx-filtereditor .dxd-filter-editor-parameter-back-color:hover:not(.dxd-state-no-hover) {
  background-color: rgba(240, 173, 78, 0.5);
}
.dx-filtereditor .dxd-filter-editor-parameter-back-color.dxd-state-selected {
  background-color: #f0ad4e;
}
.dx-filtereditor .dxd-filter-editor-operator-back-color {
  background-color: rgba(92, 184, 92, 0.3);
}
.dx-filtereditor .dxd-filter-editor-operator-back-color:hover:not(.dxd-state-no-hover) {
  background-color: rgba(92, 184, 92, 0.5);
}
.dx-filtereditor .dxd-filter-editor-operator-back-color.dxd-state-selected {
  background-color: #5cb85c;
}
.dx-filtereditor .dxd-filter-editor-value-back-color {
  background-color: rgba(221, 221, 221, 0.5);
}
.dx-filtereditor .dxd-filter-editor-value-back-color:hover:not(.dxd-state-no-hover) {
  background-color: rgba(221, 221, 221, 0.5);
}
.dx-filtereditor .dxd-filter-editor-text-color {
  color: #333;
  fill: #333;
}
.dx-filtereditor .dxd-filter-editor-text-color.dxd-state-selected {
  color: #FFF;
}
.dx-filtereditor .dxd-state-selected .dxd-filter-editor-text-color {
  color: #FFF;
}
.dx-filtereditor .dxd-filter-editor-add-icon-fill-color {
  fill: #5cb85c;
}
.dx-filtereditor .dxd-filter-editor-remove-icon-fill-color {
  fill: #d9534f;
}
/* QueryBuilder -------------------------*/
.dx-querybuilder .dxd-qb-relationship-line-color {
  stroke: #AAAAAA;
}
.dx-querybuilder .dxdd-connector.dxd-state-selected .dxd-qb-relationship-line-color {
  stroke: #337AB7;
}
/* Wizard -------------------------*/
